.App {
  font-family: sans-serif;
  text-align: center;
}
.formDiv {
  background-color: coral;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 15pc;
  margin: auto;
  border: 1px solid gray;
  border-radius: 8px;
}
div {
  padding: 5px 5px 5px 5px;
}
button {
  background-color: rgb(31, 138, 31);
  border-radius: 14px;
  color: rgb(255, 255, 255);
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
}
